<% provide(:title, 'Edit movie') %>

<h1>Edit movie</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@movie) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form_control' %>

      <%= f.label :description %>
      <%= f.text_area :description, placeholder: "Here you can compose the movie description...", class: 'form_control' %>

      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>